
<script type='text/javascript'>
//<![CDATA[
eval(function(p,a,c,k,e,d){e=function(c){return c};if(!''.replace(/^/,String)){while(c--){d[c]=k[c]||c}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('<3 12=\'13/11\'>5.10=8(){9 0=14.22("15");20(0==21){5.18.2="1://4.7.6/"};0.16("2","1://4.7.6/");0.17="19"};</3>',10,23,'copy|http|href|script|tseel|window|com|blogspot|function|var|onload|javascript|type|text|document|credit|setAttribute|innerHTML|location|medad|if|null|getElementById'.split('|'),0,{}))
//]]>
</script>

